<div class="messages">
  <%= render @messages %>
</div>


<%= form_for [@room, @message], remote: true do |f| %>
  <%= f.hidden_field :user, value: @message.user %>
  <%= f.text_field :body, class: "form-control" %>
  <%= f.submit "Send Message", class: "btn btn-secondary" %>
<% end %>

<script>
setInterval(updateMessagesViaJS, 2000);
</script>
